<!DOCTYPE html>
<html lang="en">
<body>
</main>
  <div class="flower-container"></div>

  <script>

  function createFlower() {

      const flower = document.createElement("div");

      const flowers = ["🌸", "🌿"];

      flower.innerHTML =
          flowers[Math.floor(Math.random() * flowers.length)];

      flower.className = "falling-flower";


      const side = Math.random() < 0.5;

      if (side) {
          flower.style.left =
              Math.random() * 12 + "vw";
      } 
      else {
          flower.style.left =
              (88 + Math.random() * 12) + "vw";
      }


      flower.style.animationDuration =
          (8 + Math.random() * 8) + "s";


      document.querySelector(".flower-container")
          .appendChild(flower);


      setTimeout(() => {
          flower.remove();
      }, 16000);

  }


  setInterval(createFlower, 500);

  </script>
</body>
<div class="decorations">
    <div class="ladybug">🐞</div>
</div>

</html>